header {
    background-color: yellow;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    display: inline-block;
  }
  fgimrgjoaijgo
  nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  section {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 32px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  